---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const recordings = await getCollection("recordings");

const releasedRecordings = recordings.filter(
  (recording) => !recording.data.localFile,
);
const localRecordings = recordings.filter(
  (recording) => recording.data.localFile,
);
---

<Layout title="Recordings">
  <div class="mx-auto max-w-7xl space-y-8">
    <h1 class="mb-12">Recordings</h1>
    <h2 class="mb-4">Official releases</h2>
    <div class="space-y-2">
      <iframe
        class="rounded-none md:max-w-1/2"
        src="https://open.spotify.com/embed/playlist/0HQEtUAwUe5VnLh42iIjSb?utm_source=generator&theme=0"
        width="100%"
        height="352"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <a
        href="https://tidal.com/browse/playlist/0a61d353-ade3-4efe-a517-a82d99b47354"
        target="_blank"
        rel="noopener noreferrer"
        class="group flex w-fit items-center gap-2 rounded-full bg-black px-4 py-2 text-white transition-colors duration-200 hover:bg-gray-800"
      >
        <Icon name="arcticons:tidal" size={24} stroke-width={1.5} />
        <span>Also available on Tidal</span>
      </a>
    </div>
    <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
      {
        releasedRecordings.map(({ data }) => (
          <div class="card group">
            {data.image && (
              <div class="relative aspect-square overflow-hidden">
                <Image
                  src={data.image}
                  width={400}
                  height={400}
                  quality={100}
                  alt={`${data.artist} - ${data.name}`}
                  class="h-full w-full object-cover"
                />
              </div>
            )}
            <div class="card-content py-1">
              <div class="mx-auto flex w-fit flex-wrap gap-1">
                {data.tidalLink && (
                  <a
                    href={data.tidalLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-full text-black transition-colors duration-200 hover:bg-black hover:text-white"
                  >
                    <Icon name="arcticons:tidal" stroke-width={1.5} size={24} />
                  </a>
                )}
                {data.spotifyLink && (
                  <a
                    href={data.spotifyLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-full text-green-700 transition-colors duration-200 hover:bg-green-200"
                  >
                    <Icon name="arcticons:spotify" size={24} />
                  </a>
                )}
                {data.appleLink && (
                  <a
                    href={data.appleLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-full text-pink-700 transition-colors duration-200 hover:bg-pink-200"
                  >
                    <Icon name="arcticons:apple" size={24} />
                  </a>
                )}
                {data.youtubeLink && (
                  <a
                    href={data.youtubeLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-full text-red-700 transition-colors duration-200 hover:bg-red-200"
                  >
                    <Icon name="arcticons:youtube" size={24} />
                  </a>
                )}
                {data.soundcloudLink && (
                  <a
                    href={data.soundcloudLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-full text-orange-700 transition-colors duration-200 hover:bg-orange-200"
                  >
                    <Icon name="arcticons:soundcloud" size={32} />
                  </a>
                )}
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <h2 class="mb-4">Unreleased stuff</h2>
    <div class="space-y-6">
      {
        localRecordings.map(({ data }, index) => (
          <div class="flex items-center gap-6 rounded-lg border border-gray-200 bg-white p-4 shadow-sm transition-shadow hover:shadow-md">
            {data.image && (
              <div class="relative h-20 w-20 flex-shrink-0 overflow-hidden rounded-md">
                <Image
                  src={data.image}
                  width={80}
                  height={80}
                  quality={100}
                  alt={`${data.artist} - ${data.name}`}
                  class="h-full w-full object-cover"
                />
              </div>
            )}
            <div class="flex-grow">
              <h3 class="font-medium">{data.name}</h3>
              <p class="text-sm text-gray-600">{data.artist}</p>
              {data.year && <p class="text-sm text-gray-600">{data.year}</p>}
              {data.description && (
                <p class="text-sm text-gray-600">{data.description}</p>
              )}
              {data.localFile && (
                <audio controls class="mt-2 w-full">
                  <source
                    src={`audio/recordings/${data.localFile.src}`}
                    type={`audio/${data.localFile.format ? data.localFile.format : "mpeg"}`}
                  />
                  Your browser does not support the audio element.
                </audio>
              )}
            </div>
            {data.soundcloudLink && (
              <a
                href={data.soundcloudLink}
                target="_blank"
                rel="noopener noreferrer"
                class="flex-shrink-0"
              >
                <Icon
                  name="arcticons:soundcloud"
                  size={24}
                  class="text-orange-500 transition-colors hover:text-orange-600"
                />
              </a>
            )}
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<script>
  // Get all audio elements
  const audioElements = document.querySelectorAll("audio");

  // Add event listener to each audio element
  audioElements.forEach((audio) => {
    audio.addEventListener("play", () => {
      // When one audio starts playing, pause all others
      audioElements.forEach((otherAudio) => {
        if (otherAudio !== audio) {
          otherAudio.pause();
        }
      });
    });
  });
</script>
