---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import AudioPlayer from "../components/AudioPlayer.astro";
import Link from "../components/Link.astro";
import {
  APPLE_MUSIC_ICON,
  SOUNDCLOUD_ICON,
  SPOTIFY_ICON,
  TIDAL_ICON,
} from "../icons";
import Layout from "../layouts/Layout.astro";
const recordings = await getCollection("recordings");

const releasedRecordings = recordings.filter(
  (recording) => !recording.data.localFile,
);
const localBandRecordings = recordings.filter(
  (recording) =>
    recording.data.localFile && recording.data.localFile.type === "band",
);
const localSoloRecordings = recordings.filter(
  (recording) =>
    recording.data.localFile && recording.data.localFile.type === "solo",
);
---

<Layout title="Recordings">
  <div class="mx-auto max-w-7xl space-y-8">
    <h1 class="mb-12">Recordings</h1>
    <h2 class="mb-4">Official releases</h2>
    <p>
      I've contributed on recordings by Lisa Nybrott, Kjør Romskip, Elias Eine
      and Reggie Got Beats, amongst others. Check out playlists on
      <Link
        href="https://open.spotify.com/playlist/0HQEtUAwUe5VnLh42iIjSb?si=1234567890"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex w-fit items-center gap-1"
      >
        Spotify
      </Link> or <Link
        href="https://tidal.com/browse/playlist/0a61d353-ade3-4efe-a517-a82d99b47354"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex w-fit items-center gap-1"
      >
        Tidal
      </Link>.
    </p>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col gap-2">
        <iframe
          class="h-[420px] rounded-none md:h-full"
          src="https://open.spotify.com/embed/playlist/0HQEtUAwUe5VnLh42iIjSb?utm_source=generator&theme=0"
          width="100%"
          height="100%"
          allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
        <Link
          href="https://tidal.com/browse/playlist/0a61d353-ade3-4efe-a517-a82d99b47354"
          target="_blank"
          rel="noopener noreferrer"
          class="flex w-fit items-center gap-1 self-end"
        >
          Also available on <Icon name={TIDAL_ICON} />Tidal
        </Link>
      </div>
      <div
        class="grid grid-cols-2 gap-4 lg:col-span-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        {
          releasedRecordings.map(({ data }) => (
            <div class="card group">
              {data.image && (
                <div class="relative aspect-square overflow-hidden">
                  <Image
                    src={data.image}
                    width={400}
                    height={400}
                    quality={100}
                    alt={`${data.artist} - ${data.name}`}
                    class="h-full w-full object-cover"
                  />
                  {data.type && (
                    <span class="absolute right-1 bottom-1 h-fit rounded-md bg-gray-100/90 px-2 py-1 text-sm shadow-inner backdrop-blur-xs">
                      {data.type}
                    </span>
                  )}
                </div>
              )}
              <div class="card-content py-1">
                <h3 class="text-xl">{data.name}</h3>
                <h4 class="font-medium">
                  {data.artist}
                  {data.year && ` (${data.year})`}
                </h4>
                <details class="">
                  <summary>Details</summary>
                  <div class="mt-2">
                    <div class="-ml-2 flex w-fit flex-wrap gap-1">
                      {data.spotifyLink && (
                        <a
                          href={data.spotifyLink}
                          target="_blank"
                          rel="noopener noreferrer"
                          title={`${data.name} on Spotify`}
                          aria-label={`${data.name} on Spotify`}
                          class="inline-flex h-10 w-10 items-center justify-center rounded-full text-green-700 transition-colors duration-200 hover:bg-green-200"
                        >
                          <Icon name={SPOTIFY_ICON} size={24} />
                        </a>
                      )}
                      {data.tidalLink && (
                        <a
                          href={data.tidalLink}
                          target="_blank"
                          rel="noopener noreferrer"
                          title={`${data.name} on Tidal`}
                          aria-label={`${data.name} on Tidal`}
                          class="inline-flex h-10 w-10 items-center justify-center rounded-full text-black transition-colors duration-200 hover:bg-black hover:text-white"
                        >
                          <Icon name={TIDAL_ICON} size={24} />
                        </a>
                      )}
                      {data.appleLink && (
                        <a
                          href={data.appleLink}
                          target="_blank"
                          rel="noopener noreferrer"
                          title={`${data.name} on Apple Music`}
                          aria-label={`${data.name} on Apple Music`}
                          class="inline-flex h-10 w-10 items-center justify-center rounded-full text-pink-700 transition-colors duration-200 hover:bg-pink-200"
                        >
                          <Icon name={APPLE_MUSIC_ICON} size={24} />
                        </a>
                      )}
                      {data.soundcloudLink && (
                        <a
                          href={data.soundcloudLink}
                          target="_blank"
                          rel="noopener noreferrer"
                          title={`${data.name} on SoundCloud`}
                          aria-label={`${data.name} on SoundCloud`}
                          class="inline-flex h-10 w-10 items-center justify-center rounded-full text-orange-700 transition-colors duration-200 hover:bg-orange-200"
                        >
                          <Icon name={SOUNDCLOUD_ICON} size={24} />
                        </a>
                      )}
                    </div>
                    <p class="text-gray-500">{data.description}</p>
                  </div>
                </details>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <h2 class="mb-4">Unreleased stuff</h2>
    <p>
      Most of my unreleased music is on
      <Link
        href="https://soundcloud.com/hanshenrik"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex w-fit items-center"
      >
        SoundCloud
      </Link>, but you can listen here as well.
    </p>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
      <AudioPlayer
        recordings={localSoloRecordings}
        title="Solo"
        playerId="solo"
      />
      <AudioPlayer
        recordings={localBandRecordings}
        title="Bands"
        playerId="bands"
      />
    </div>
  </div>
</Layout>
