---
import { YouTube } from "astro-embed";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { YOUTUBE_ICON } from "../icons";
import Layout from "../layouts/Layout.astro";
const videos = await getCollection("videos");
---

<Layout title="Video">
  <div class="mx-auto max-w-7xl">
    <h1 class="mb-12">Video</h1>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        videos.map((video) => (
          <div class="card group space-y-2">
            {video.data.youtubeLink && <YouTube id={video.data.youtubeLink} />}
            <div class="card-content space-y-2">
              <h2>
                {video.data.artist} – {video.data.name}
              </h2>
              <p>{video.data.description}</p>
              {video.data.isPlaylist && (
                <p class="mb-4">
                  <a
                    href={video.data.youtubeLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex items-center gap-1 rounded-full bg-red-100 px-3 py-1.5 text-red-700 transition-colors duration-200 hover:bg-red-200"
                  >
                    <Icon name={YOUTUBE_ICON} />
                    View full playlist
                  </a>
                </p>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
